header{
	background-image: url(../imagenes/header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:90%;
	background-attachment: fixed;
	height: 200PX;

}
main{
	background-color: beige;
}
